.HomepageClassContainer{
    @apply flex flex-col items-center justify-center w-full py-10
    md:py-20
}
.HomepageClassContent{
    @apply flex flex-col items-center justify-between w-full px-6
    md:w-[80%] md:px-0
}
.HomepageClassTop{
    @apply flex flex-col items-center justify-between w-full
    md:flex-row
}
.HomepageClassTopLeft{
    @apply flex flex-col items-start justify-center w-full
     md:w-1/2
}
.HomepageClassSubTitle{
    @apply text-base font-semibold text-[#524FF5] tracking-widest uppercase
}
.HomepageClassTitle{
    @apply text-3xl font-bold text-[#1C2129] mb-4
    md:mb-0
}

.HomepageClassCardsContent{
    @apply flex flex-col items-center justify-between w-full mt-14
    lg:flex-row
}