.PricingContainer{
    @apply flex flex-col justify-center items-center w-full py-10
    md:py-20
}
.PricingSubTitle{
    @apply text-base font-semibold text-[#524FF5] tracking-widest uppercase
}
.PricingTitle{
    font-family: 'Inter';
    @apply text-3xl font-bold text-[#1C2129] mb-4
    md:mb-0
}
.PricingCardsContainer{
    @apply flex flex-col justify-around items-center w-full mt-14
    lg:flex-row lg:w-[95%]
    xl:w-[80%]
    2xl:w-[75%]
}