.HeaderMobileContainer{
    @apply flex flex-row justify-between items-center p-4
    md:hidden
}
.HeaderMobileIconSec{
    @apply flex flex-row justify-start items-center w-1/2;
}
.HeaderMobileIcon{
   @apply w-36  mr-4;
}
.BtnMobileIcon{
    @apply w-5 h-5
}
.UlHeaderMenu{
    @apply flex flex-row items-center
}

.NavLinkMobileHeader{
    @apply px-2 py-2 text-sm text-[#292930] font-semibold border-b-4 border-transparent mr-2
    hover:border-[#1F242C]  transition-all duration-300 ease-in-out;
}

.NavLinkMobileHeader:hover,
.NavLinkMobileHeader.active {
    border-bottom-color: #1F242C;
    transition: border-bottom-color 0.3s ease-in-out;
}