.BlogMainContainer{
    @apply flex flex-col items-center justify-center w-full py-10 px-6
    md:py-20 md:px-0
}
.BlogMainContent{
    @apply flex flex-col items-center justify-between w-full
    md:w-[90%]
    2xl:w-[75%]
}
.BlogMainTop{
    @apply flex flex-col items-start justify-center w-full
}
.BlogMainSubTitle{
    @apply text-base font-semibold text-[#524FF5] tracking-widest uppercase
}
.BlogMainTitle{
    font-family: 'Inter';
    @apply text-3xl font-bold text-[#1C2129]
}
.BlogMainCardsContent{
    @apply flex flex-col items-center justify-between w-full mt-14 flex-wrap
    lg:flex-row
}